<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img class="rounded" src="/images/favicon.ico" width="30" height="30" alt="Caeser Verschl端sselung">
      Caeser Verschl端sselung
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Verschl端sseln</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/decrypt">Entschl端sseln</a>
        </li>
      </ul>
    </div>
  </nav>